#consequences.sheet-panel(ng-controller='ConsequenceCtrl', ng-class='{dirty: dirty}')
	a#conseq
	h2.panelHeader= __('charsheet.headers.conseq')
		input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_150_edit.png', ng-click='editing=!editing')

	#conseqBlock(ng-repeat='con in data.consequences | conseqSort')
		.row(ng-class='{"top-divider": !$first}')
			.horizgroup
				input.removeButton(type='image', ng-show='editing', ng-click='removeConsequence($index)', src='/static/img/glyphicons/glyphicons_192_circle_remove.png')
				.vertgroup
					.header(ng-hide='editing') {{con.severity}} ({{magnitude(con.severity)}})
					.subtitle(ng-hide='editing')= '{{con.mode}} '+__('charsheet.conseqType.type')
					select(dgy-notify, ng-show='editing', ng-model='con.severity')
						option(value='Mild')= __('charsheet.conseqType.mild')
						option(value='Moderate')= __('charsheet.conseqType.moderate')
						option(value='Severe')= __('charsheet.conseqType.severe')
						option(value='Extreme')= __('charsheet.conseqType.extreme')
					select(dgy-notify, ng-show='editing', ng-model='con.mode', ng-options='type for type in stressTypes()')

			resizingtextarea.aspect(dgy-notify, ng-model='con.aspect', placeholder=__('charsheet.unused'))

	input.iconButton(type='image', ng-show='editing', src='/static/img/glyphicons/glyphicons_190_circle_plus.png', ng-click='addConsequence()')

	#tempAspectBlock(ng-hide='editing')
		p.header= __('charsheet.labels.tempaspect')
		div(ng-repeat='a in data.aspects.tempAspects track by $index')
			p.tempAspect {{a}}
				input.removeButton(type='image', src='/static/img/glyphicons/glyphicons_192_circle_remove.png', ng-click='removeTempAspect($index)')

		form(ng-submit='addTempAspect()')
			input(type='text', ng-model='tempAspect')
			input.addButton(type='image', src='/static/img/glyphicons/glyphicons_190_circle_plus.png', alt='Submit')


