if logged_user == owner

	nav#charnav
		div#placeholder
		ul
			li: a(href=url('/site/howto'))= __('charsheet.headers.help')
			li: input.fakelink(type='button', ng-class='{dirty: dirty}', ng-click='data.$save()', value=__('charsheet.headers.save'))

	//-#charnav.navbar
		ul.navmenu.navitem
			li
				a= __('charsheet.headers.panels')
					span.subarrow
				ul
					li
						a(href='printable')= __('charsheet.headers.printable')
					li: hr
					li
						a= __('charsheet.headers.optionals')
							span.subarrow
						ul
							li
								input(type='checkbox', dgy-notify, ng-model='data.notes.enabled')
								a(href='#notes')= __('charsheet.headers.notes')
							li
								input(type='checkbox', dgy-notify, ng-model='data.skills.is_shifter')
								a(href='#skills')= __('charsheet.headers.shapeshifter')
							//li
								input(type='checkbox')
								a(href='#invent') Inventory
							//li
								input(type='checkbox')
								a(href='#rotes') Spellcaster/Rotes
							//li
								input(type='checkbox')
								a(href='#spellcalc') Spellcaster/Calculator
					li: a(href='#aspects')= __('charsheet.headers.aspects')
					li: a(href='#skills')= __('charsheet.headers.skills')
					li: a(href='#stress')= __('charsheet.headers.stress')
					li: a(href='#conseq')= __('charsheet.headers.conseq')
					li: a(href='#totals')= __('charsheet.headers.totals')
					li: a(href='#powers')= __('charsheet.headers.powers')
	

		.itemgroup
			.navitem: a(href=url('/site/howto'))= __('charsheet.headers.help')
			.navitem: a(href='javascript:;', ng-class='{dirty: dirty}', ng-click='data.$save()')= __('charsheet.headers.save')

