extends index

block title
	title= __('about.pagetitle') + ' | ToonStore.net'
	meta(name='description', content='#{__("about.meta_description")}')

block content

	h1= __('about.pagetitle')

	.content-block: .normalbox

		h3= __('about.h1')
		p= __('about.p1')
		h3= __('about.h2')
		p= __('about.p2')
		h3= __('about.h3')
		p= __('about.p3.f1')
			a(href='https://github.com/stevenvergenz/dfrpg-toonstore', target='_blank')= __('about.p3.f2')
			= __('about.p3.f3')

		h3= __('about.h4')
		p= __('about.p4.f1')
			a(href='http://thecosmicgoose.deviantart.com/')= __('about.p4.f2')
			= __('about.p4.f3')
