extends index

block title
	if /\/passreset$/.test(page)
		title= __('passreset.pagetitle') + ' | ToonStore.net'
	else if /\/pre-activate/.test(page)
		title= __('pre-activate.pagetitle') + ' | ToonStore.net'
	else if /\/activate\/[0-9a-f]{32}$/.test(page)
		title= __('activate.pagetitle') + ' | ToonStore.net'

block append includes
	if /\/activate\/[0-9a-f]{32}$/.test(page)
		script(src='/static/js/zxcvbn-async.js')
		script(src='/static/js/moment.min.js')
		if i18n.pageLocale
			script(src='/static/js/moment.'+i18n.pathLocale+'.js')
		script!= 'var clientStrings = ' + JSON.stringify(__('activate.clientStrings')) + ';'
		script(src='/static/js/activate.js')

block content

	if /\/pre-activate/.test(page)

		.content-block: .formbox
			.title: span= __('pre-activate.pagetitle')
			if query.t == 'register'
				p= __('pre-activate.intro_register')
			else
				p= __('pre-activate.intro')

			p= __('pre-activate.note')

	else if /\/passreset$/.test(page)

		.content-block: .formbox
			.title: span= __('passreset.pagetitle')
			p= __('passreset.intro')
			form(method='POST')
				.field
					label(for='email')= __('passreset.email')
					input#email(type='email', name='email', required)

				.field
					input(type='submit', value='#{__("passreset.submit")}')


	else if /\/activate\/[0-9a-f]{32}$/.test(page)

		.content-block: .formbox
			.title: span= __('activate.pagetitle')

			p= __('activate.intro')

			form(method='POST', onsubmit='return validate();')
				.field
					label(for='password')= __('activate.password')
					input#password(type='password', name='password', required, onkeyup='checkPass();')
					p.caption#passStrength= __('activate.cracktime')
						span ???

				.field
					label(for='confirm')= __('activate.confirm')
					input#confirm(type='password', name='confirm', required, onkeyup='checkPass();')
					p.caption#passMatch

				.field
					input(type='submit', value='#{__("activate.submit")}')
					p.caption#submitMessage
