extends theme

block title
	title= toonName + ' - ToonStore'

block append includes
	link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Metamorphous')
	link(rel='stylesheet', type='text/css', href='/css/charsheet.css')
	script(src='/js/knockout-2.2.1.js')
	script(src='/js/viewmodel.js')
	script(src='/js/charsheet.js')
	script.
		$(document).ready( initialize );

block content

	if logged_user == owner
		input#save(type='button', value='Save', onclick='pushToServer()')

	section#general
		p.sectionHeader
			span(data-bind='visible: !generalEditing(), text: name')
			input(type='text', data-bind='visible: generalEditing, value: name')
			if logged_user == owner
				input.editButton(type='image', src='/img/edit32.png',
					onclick='viewModel.generalEditing( !viewModel.generalEditing() )')
		p
			span(data-bind='visible: !generalEditing(), text: "("+player()+")"')
			input(type='text', data-bind='visible: generalEditing, value: player')


	section#aspects(data-bind='with: aspects')
		p.sectionHeader Aspects
			if logged_user == owner
				input.editButton(type='image', src='/img/edit32.png',
					onclick='viewModel.aspects.editing( !viewModel.aspects.editing() )')

		.field
			p.fieldLabel High Concept:
			p(data-bind='visible: !editing(), text: high_concept.name')
			input(type='text', data-bind='visible: editing, value: high_concept.name')

		.field
			p.fieldLabel Trouble:
			p(data-bind='visible: !editing(), text: trouble.name')
			input(type='text', data-bind='visible: editing, value: trouble.name')

		.field
			p.fieldLabel Other Aspects:
			// ko foreach: aspects
			p(data-bind='visible: !$parent.editing(), text: name')
			div(data-bind='if: $parent.editing')
				input(type='text', data-bind='visible: $parent.editing, value: name')
				a(href='javascript:;', data-bind='attr: {onclick: "removeAspect("+$index()+")"}') Remove
			// /ko

		a(href='javascript:;', data-bind='visible: editing, attr: {onclick: "addAspect()"}') Add

	if logged_user == owner
		.editor

			table#stressEditTable
				thead
					th Type
					th Skill
					th Boxes
					th Toughness

				tbody(data-bind='foreach: stress')

					tr
						td: input(type='text', data-bind='value: name')
						td: input(type='text', data-bind='value: skill')
						td: input(type='number', min='1', max='8', data-bind='value: strength')
						td: input(type='number', min='0', data-bind='value: toughness, attr: {max: strength}')
						td: a(href='javascript:;', data-bind='attr: {onclick: "addArmorTo("+$index()+")"}') Add armor
						td: a(href='javascript:;', data-bind='attr: {onclick: "removeStressTrack("+$index()+")"}') Remove

					tr(data-bind='foreach: armor')
						td(colspan='5')
							span Armor: 
							input(type='number', min='0', style='width: 50px;', data-bind='value: strength')
							span vs.
							input(type='text', data-bind='value: vs')
						td: a(href='javascript:;', data-bind='attr: {onclick: "removeArmorFrom("+$parentContext.$index()+","+$index()+")"}') Remove

			p: a(href='javascript:;', onclick='addStressTrack()') Add stress track

	section#stress
		p.sectionHeader Stress

		table#stressTable
			thead: tr
				th &nbsp;
				for i in [1,2,3,4,5,6,7,8]
					th= i

			tbody(data-bind='foreach: stress')

				tr
					th
						span(data-bind='text: name')
						br
						span(class='subtitle', data-bind='text: "("+skill()+")"')

					// ko foreach: [0,1,2,3,4,5,6,7]
					td
						// ko if: $parent.boxes()[$data] != undefined
						input(type='checkbox', data-bind='attr: {id: $parent.name()+"-"+$parent.skill()+"-"+$data}, css: $parent.boxes()[$data].icon, checked: $parent.boxes()[$data].used')
						// /ko
						// ko ifnot: $parent.boxes()[$data] != undefined
						input.stressBox(type='checkbox', disabled='disabled', data-bind='attr: {id: $parent.name()+"-"+$parent.skill()+"-"+$data}')
						// /ko
						if logged_user == owner
							label(data-bind='attr: {for: $parent.name()+"-"+$parent.skill()+"-"+$data}')
						else
							label
					// /ko

				// ko foreach: armor
				tr
					td(colspan=9, data-bind='text: text')
				// /ko


	section#consequences
		p.sectionHeader Consequences				
			if logged_user == owner
				input.editButton(type='image', src='/img/edit32.png',
					onclick='viewModel.consequences.editing( !viewModel.consequences.editing() )')

		table#conseqTable
			thead
				tr
					th Type
					th P/M/S
					th Stress
					th Used?
					th Aspect

			tbody(data-bind='foreach: sorted_consequences')
				tr
					td
						span(data-bind='visible: !$root.consequences.editing(), text: severity')
						select(data-bind='visible: $root.consequences.editing, value: severity')
							option(value='Mild') Mild
							option(value='Moderate') Moderate
							option(value='Severe') Severe
							option(value='Extreme') Extreme

					td
						span(data-bind='visible: !$root.consequences.editing(), text: mode')
						select(data-bind='visible: $root.consequences.editing, options: $root.stress_types, value: mode')

					td(data-bind='text: magnitude')
					td
						input.stressBox(type='checkbox', onchange='updateConseqAspect(this)', data-bind='attr: {id: "conseq"+$index()}, checked: used')
						if logged_user == owner
							label(data-bind='attr: {for: "conseq"+$index()}')
						else
							label
					td
						if logged_user == owner
							span.conseqAspectDisplay(data-bind='text: aspect')
							input.conseqAspectEdit(type='text', style='display: none; width: 100px;', data-bind='attr: {onkeypress: "finishConseqUpdate(event,"+$index()+")"}, value: aspect')
						else
							span(data-bind='text: aspect')

				tr
					td: a(href='javascript:;', data-bind='visible: $root.consequences.editing, attr: {onclick: "removeConsequenceAt("+$index()+")"}') Remove

		a(href='javascript:;', onclick='addConsequence()', data-bind='visible: $root.consequences.editing') Add consequence

	section#totals(data-bind='with: totals')

		if logged_user == owner
			input.editButton(type='image', src='/img/edit32.png', style='left: 330px',
				onclick='viewModel.totals.editing( !viewModel.totals.editing() )')
		
		img#star(src='/img/pentacle.png')
		#borderOcclude

		p#powerLevel(data-bind='visible: !editing()')
			span(style='left: 30px;') Power Level:
			br
			span(style='left: 33px;', data-bind='text: power_level')
		label(data-bind='if: editing', style='left: 45px;') Skill Points
			br
			input(type='number', style='width: 50px; left: 22px;', data-bind='value: skills_total')

		p#skillCap
			span(style='width: 100%; left: 0px;') Skill Cap:
			br
			span(style='width: 100%; left: 0px;', data-bind='visible: !editing(), text: skill_cap_text')
			input(type='number', min=1, max=8, style='left: 58px;', data-bind='visible: editing, value: skill_cap')
			// text: skill_cap_text
			//
		label(data-bind='if: editing', style='left: 100px;')

		p#skillsSpent.bubble(data-bind='text: skills_spent') 
		p.label Skill Points Spent
		p#skillsAvailable.bubble(data-bind='text: skills_available')
		p.label Available

		p#baseRefresh.bubble.doubleBubble(style='top: 104px; left: 159px;', data-bind='visible: !editing(), text: base_refresh')
		input(type='number', min=0, style='top: 112px; left: 166px; width: 40px;', data-bind='visible: editing, value: base_refresh')
		p.label(style='left: 208px; top: 105px; width: 125px;') Base Refresh Level
		p#adjustedRefresh.bubble.doubleBubble(data-bind='text: adjusted_refresh')
		p.label Adjusted Refresh
		p#fatePoints.bubble.doubleBubble(style='top: 213px; left: 161px;', data-bind='visible: !editing(), text: fate_points')
		input(type='number', min=0, style='top: 224px; left: 164px; width: 40px;', data-bind='visible: editing, value: fate_points')
		p.label(style='top: 228px; left: 215px;') Fate Points


	section#skills
		p.sectionHeader Skills
			if logged_user == owner
				input.editButton(type='image', src='/img/edit32.png',
					onclick='viewModel.skills.editing( !viewModel.skills.editing() )')

		table#skillTable
			tbody(data-bind='foreach: skills.skill_sets')
				tr(data-bind='if: $root.skills.editing() || index != 0')
					th(data-bind='text: level_text')
					td: p(data-bind='foreach: skills')
						span(data-bind='visible: $index() != 0') , 
						span(data-bind='text: $data')
						a(href='javascript:;', data-bind='visible: $root.skills.editing() && $parent.index < $root.totals.skill_cap(), attr: {onclick: "moveSkillTo(\'"+$data+"\', "+$parent.index+","+1+")"}') ↑
						a(href='javascript:;', data-bind='visible: $root.skills.editing() && $parent.index > 0, attr: {onclick: "moveSkillTo(\'"+$data+"\', "+$parent.index+","+-1+")"}') ↓
						
		div(data-bind='if: skills.editing()')
			input#newSkill(type='text')
			input(type='button', value='Add skill', onclick='addSkill()')
			p#validSkillLadder Valid

	section#powers
		p.sectionHeader Stunts & Powers
			if logged_user == owner
				input.editButton(type='image', src='/img/edit32.png',
					onclick='viewModel.powers.editing( !viewModel.powers.editing() )')

		table#powerTable
			thead: tr
				th Cost
				th Ability

			tbody

				// ko foreach: powers
				tr(data-bind='ifnot: $root.powers.editing')
					td.mainRow(data-bind='text: cost')
					td.mainRow(data-bind='text: name')
				tr(data-bind='if: $root.powers.editing')
					td.mainRow: input(type='number', min='-8', max='8', data-bind='value: cost')
					td.mainRow: input(type='text', data-bind='value: name')
				tr(data-bind='if: description() && !$root.powers.editing()')
					td &nbsp;
					td: p(data-bind='html: description')
				tr(data-bind='if: $root.powers.editing')
					td: a(href='javascript:;', data-bind='attr: {onclick: "removePower("+$index()+")"}') Remove
					td: textarea(data-bind='value: clean_description')

				// /ko

				tr
					td.mainRow(style='border-top: solid black 1px;', data-bind='text: $root.totals.refresh_adjustment')
					td.mainRow Total Refresh Adjustment

		a(href='javascript:;', onclick='addPower()', data-bind='visible: powers.editing') Add power


