extends theme

block title
	title= toon.name + ' - ToonStore'

block includes
	link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Metamorphous')
	link(rel='stylesheet', type='text/css', href='/css/charsheet-template.css')

block content

	section#general
		p.sectionHeader= toon.name
		p= '('+toon.player+')'

	section#aspects
		p.sectionHeader Aspects

		.field
			p.fieldLabel High Concept:
			p= toon.aspects.high_concept.name

		.field
			p.fieldLabel Trouble:
			p= toon.aspects.trouble.name

		.field
			p.fieldLabel Aspects:
			for a in toon.aspects.aspects
				p= a.name

	section#stress
		p.sectionHeader Stress

		table#stressTable
			thead: tr
				th &nbsp;
				for num in [1,2,3,4,5,6,7,8]
					th= num

			tbody

				for track in toon.stress
					tr(id=track.name)
						th= track.name
							p.subtext= '('+track.skill+')'
						for i in [1,2,3,4,5,6,7,8]
							td
								if i <= track.strength
									if track.used.indexOf(i) != -1
										input.stressBox(id=track.name+i, type='checkbox', checked='checked')
									else
										input.stressBox(id=track.name+i, type='checkbox')
								else
									input.stressBox(id=track.name+i, type='checkbox', disabled='disabled')

								label(for=track.name+i)
