extends theme

block title
	title= __('donate.pagetitle') + ' | ToonStore.net'
	meta(name='description', content='#{__("donate.meta_description")}')

block article_header

	h1= __('donate.pagetitle')

block article_body

	p= __('donate.plea')

	h2= __('donate.paypal.header')

	p= __('donate.paypal.p1')

	.imgcontainer
		form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
			input(type="hidden", name="cmd", value="_s-xclick")
			table
				tr: td
					input(type="hidden", name="on0", value="Choose your amount")
					| Choose your amount
				tr: td: select(name="os0")
					option(value="Feet In The Water") Feet In The Water $1 USD
					option(value="Up To Your Waist") Up To Your Waist $5 USD
					option(value="Chest-Deep") Chest-Deep $10 USD
					option(value="Submerged") Submerged $20 USD

				tr: td
					input(type="hidden", name="on1", value="Comments")
					| Comments
				tr: td: input(type="text", name="os1", maxlength="200")

			input(type="hidden", name="currency_code", value="USD")

			- var payload = "-----BEGIN PKCS7-----MIIIOQYJKoZIhvcNAQcEoIIIKjCCCCYCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBombPjZwrhx2slou/b1Zzblt3mDrSBTBPAk2QfWo5I0cICZDVBClnGrctmoQnWVyB0IawxDvbXNbxohInMe4JNrhEJvJaaITBoWEujUj4Vv34Jd4D5bGPYsdNSkJc5FwIVjl4GeedfjWe79VsiHNKbuYR4AOcFhqiPDatU/C7fZTELMAkGBSsOAwIaBQAwggG1BgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECIO0i86rL+CBgIIBkCqrCCm+ZR3zYodY4rC7Kt2IyJks/LGexb4Jajn9vt2xEfV5eQSmwj3hp/nNk0BAJykaPE+OwZ81qUpYC5puy2JFIfO//YnprL+z+5NIOFw34mN5RdnkfNaTMaPC3JTMuOMRYsdEBrwHGj5t5y2GpLCrhkSk8JFYfpFvOQP65jbMU3/CmvrqDXqjbXso2MwpFJ3Cb9O4ZEnhtdsNnM2HT+s5XxmKhtTgNFmM5S07UwDScgTV+ojH8ypm++kAKagZGfuf53nx6SSpGb8pfA2m1KfOc4erTbZQe7yQx40u+Gc3qOJkryavpPmuC+UpzR1FGvt8LfcAk/98HQZ4hUE6uXi28fRrCSAyRAtceHQX+siNcV5nM0pADNngBVKSXkAfXBGBvwgJW3OYpYs6dg/USH7xqfJrIiX0qwYLELBe+EUw1P9OKsTk/nZREN8lT9ZPf0vx7V43UMAiNLu1btiU6jmBGl5ccnLVScN3xcSBIckqDN45iHz4AnD30bXN5NaGHvUhfHFWdAV33yIAm5C/+nSgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNTA4MTIxNTIyMjZaMCMGCSqGSIb3DQEJBDEWBBTiqOLTLa0540nz6K5yzXl2rlA6ADANBgkqhkiG9w0BAQEFAASBgDqJjdq2iYSOKmcGagQfDLLRPbCU3RU7j/GLcTeQi7wYxQjzMU0QV1hian1j/+60Ggvr8TRYg986BzcAx6lRTekO/3fC3Xnnykvy0rsIGVMQY4pbjC53c5qej8yQ/XiGHSmxztRyOK0MOgCechW2xWHBkwCGc18b5+YChUu45YaT-----END PKCS7-----";

			input(type="hidden", name="encrypted", value=payload)
			input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
			img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")


	h2= __('donate.how.header')

	p= __('donate.how.p1')

	.imgcontainer
		.iframecontainer(style='width:560px;')
			iframe(width="560", height="315", src="//www.youtube.com/embed/Gc2en3nHxA4", frameborder="0", allowfullscreen)

	p= __('donate.how.p2')

	p= __('donate.how.p3.f1')
		a(href='//circle.com') Circle.com
		= __('donate.how.p3.f2')
		a(href='//coinbase.com') Coinbase.com
		= __('donate.how.p3.f3')


	h2= __('donate.where.header')

	p= __('donate.where.p1')

	div(style='display:flex; flex-direction:column; align-items:center;')
		if logged_user
			img(src='/site/donate/donation_qr.png?user=#{logged_user}')
			a(href='bitcoin:#{donation_address}?message=Thanks%20from%20#{logged_user}', style='font-family:monospace;')= donation_address
		else
			img(src='/site/donate/donation_qr.png')
			a(href='bitcoin:#{donation_address}', style='font-family:monospace;')= donation_address

	p= __('donate.where.p2')
