extends theme_new

block title
	title= __('index.pagetitle')+' | ToonStore.net'
	meta(name='description', content='#{__("index.meta_description")}')

block article_header
	h1 ToonStore
	h2= __('index.banner.subtitle') 

block article_body

	p= __('index.p1')
	p= __('index.p2')
	p= __('index.p3')
	p= __('index.p4')

	p= __('index.p5.f1')
		a(href=url('/login'))= __('index.p5.f2')
		= __('index.p5.f3')
		a(href='https://login.persona.org/', target='_blank')= __('index.p5.f4')
		= __('index.p5.f5')
		a(href='https://toonstore.net/Derogatory/lifeson/')= __('index.p5.f6')
		= __('index.p5.f7')

