doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='robots', content='INDEX, FOLLOW')

		block title
			title Online Dresden Files RPG Character Hosting | ToonStore.net

		block description
			meta(name='description', content='Create, modify, and share cloud-based mobile-friendly Dresden Files RPG or FATE character sheets right in your browser with ToonStore.')

		block styles
			link(rel='icon', type='image/png', href='/static/img/pentacle-simple.png')
			link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Denk+One|Pathway+Gothic+One')
			link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Armata&subset=latin,latin-ext')
			link(rel='stylesheet', type='text/css', href='/static/css/compiled/global.css')
			link(rel='stylesheet', type='text/css', href='/static/css/index.css')

		block includes
			script(src='/static/js/modernizr.custom.07098.js')
			script(src='https://login.persona.org/include.js')
			//script(src='https://apis.google.com/js/client:platform.js', async, defer)
			script(src='/static/js/jquery-1.10.1.js')
			script(src='/static/js/ie-fail.js')

			script!= 'var userInfo = ' + JSON.stringify({username: logged_user, email: logged_user_email, persona_user: persona_user}) + ';'
			script(src='/static/js/login.js')

	body
		if page == '/'
			a(style="z-index: 1;", href="https://github.com/stevenvergenz/dfrpg-toonstore")
				img(style="position: absolute; top: 0; left: 0; border: 0; z-index: 1;",
					src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png",
					alt="Fork me on GitHub")

		.wrapper

			block header

				.navbar
					.itemgroup
						.navitem: a(href='/') Toon&#8203;Store
						//-.navitem Forum
						.navitem: a(href='/site/about') About
						.navitem: a(href='/site/contact') Contact Us
					.itemgroup
						if logged_user_email
							.navitem: a(href='/'+logged_user)= logged_user
							.navitem: a(href='javascript:;', onclick='logout()') Log Out
						else
							.navitem: a(href='/register') Register
							.navitem: a(href='/login') Log In

			.content

				if message
					.content-block
						#page-message(class=message.type)= message.content
					
				block content

					.content-block
						.banner
							h1 ToonStore
							h2 +2 to organization rolls

					.content-block: .normalbox
						p Greetings, roleplayer!
						p.
							Everyone has run into this scenario: you and your partymates are going through character creation, filling out
							your character sheet, and your DM asks for a copy of your character sheet. You have a brief moment of confusion.
							Do you scan it and email it? Do you transcribe it? Just email the aspects?
						p.
							Perhaps you're forward-looking. Perhaps you've been doing your character from your laptop the whole time. But
							without the formal layout of an actual character sheet, no one but you can read your text-based character sheet.
						p.
							This is where ToonStore comes in. We store your Dresden Files RPG or other FATE-based character data in the cloud,
							so you never lose it and can easily share it. Just view the online character sheet and make your edits right in
							the browser. We're mobile-friendly too, so you don't have to haul your 10 pound laptop around either.

						p.
							Interested? <a href='/login'>Log in</a> with your
							<a href='https://login.persona.org/' target='_blank'>Persona</a> account, or
							<a href='http://toonstore.net/Derogatory/lifeson/'>try it now</a> to get rolling!

			block footer
				.footer
					span: a(href='/site/terms') Terms of Use
					span: a(href='/site/privacy') Privacy Policy
					span Donate: 
						a(href='bitcoin:1CX5xJ3o4rXcNRTrWGd2zCmAMtpCXGZo78?amount=0.015&label=ToonStore') 1CX5xJ3o4rXcNRTr&#8203;WGd2zCmAMtpCXGZo78
						|  (
						a(href='https://www.weusecoins.com/') ?
						| )
