extends theme

block title
	title= __('index.pagetitle')+' | ToonStore.net'
	meta(name='description', content='#{__("index.meta_description")}')

block append css
	link(rel='stylesheet', type='text/css', href='/static/scss/index.css')

block article_header
	h1 ToonStore
	h2= __('index.banner.subtitle') 

block article_body

	p= __('index.p1')
	p= __('index.p2')
	p= __('index.p3')
	p= __('index.p4')

	p= __('index.p5.f1')
		a(href=url('/login'))= __('index.p5.f2')
		= __('index.p5.f3')
		a(href='https://login.persona.org/', target='_blank')= __('index.p5.f4')
		= __('index.p5.f5')
		a(href=url('/Derogatory/lifeson/'))= __('index.p5.f6')
		= __('index.p5.f7')

block github
	a(href="https://github.com/stevenvergenz/dfrpg-toonstore")
		img(style="position: absolute; top: 0; left: 0; border: 0;",
			src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png",
			alt="Fork me on GitHub")

