extends index

block title
	title= __('killtoon.pagetitle')+ ' | ToonStore.net'

block append includes

	script!= 'var clientStrings = '+JSON.stringify(__('killtoon.clientStrings'))+';'
	script.
		function validate(){
			if( $('label#confirm').text() != $('input#confirm').val() ){
				if( $('div.error').length == 0 )
					$('<div class="content-block"><div class="error"><p>'+clientStrings.error+'</p></div></div>').prependTo( $('.content') );
				else
					$('div.error>p').text(clientStrings.error);
				return false;
			}
			else {
				return true;
			}
		}

block content

	.content-block: .formbox
		.title= __('killtoon.pagetitle')

		form(method='post', onsubmit='return validate();')

			p= __('killtoon.intro')
			.field
				label#confirm(for='confirm', style='background-color: #ffe5e5')= __('killtoon.confirm', {name:toon.name, hc:toon.hc})
				input#confirm(name='confirm', type='text')

			input(type='hidden', name='charname', value=toon.canon)

			.field
				input(type='submit', value='#{__("killtoon.submit")}')
