extends index

block title
	title= __('newtoon.pagetitle') + ' | ToonStore.net'

block append includes
	script!= 'var clientStrings = '+JSON.stringify(__('newtoon.clientStrings'))+';'
	script(src='/static/js/newtoon.js')

block content

	.content-block: .formbox
		.title= __('newtoon.pagetitle')

		form(method='post', onsubmit="return validate();")

			.field
				label(for='name')= __('newtoon.fullname.label')
				input#name(type='text', name='name', required, placeholder='John Doe', onkeyup="generateSlug(this)")
				p.caption= __('newtoon.fullname.caption')

			.field
				label(for='canon_name')= __('newtoon.shortname.label')
				input#canon_name(type='text', name='canon_name', required, placeholder='doe')
				p.caption= __('newtoon.shortname.p1')
				p.caption= __('newtoon.shortname.p2')
				p.caption= __('newtoon.shortname.p3')

			.field
				label(for='concept')= __('newtoon.hc.label')
				input#concept(type='text', name='concept', required, placeholder='Man of Mystery')
				p.caption= __('newtoon.hc.caption')

			.field#templateContainer
				label(for='template')= __('newtoon.template.label')
				select#template(name='template')
					option
					for item in templates
						option(value='#{item}', label='#{item}')= item
				p.caption= __('newtoon.template.caption')

			.field.checkbox
				input#private(type='checkbox', name='private')
				label(for='private')= __('newtoon.private')
				script.
					if( /[?&]private/.test(window.location.search) ){
						$('input#private').prop('checked',true);
					}

			.field
				p= __('newtoon.donate.f1')
					a(href=url('/site/donate'))= __('newtoon.donate.f2')
					= __('newtoon.donate.f3')

			.field
				input(type='submit', name='submit', value='#{__("newtoon.submit")}')
