extends index

block title
	title= __('nav.register') + ' | ToonStore.net'
	meta(name='description', content='#{__("register.meta_description")}')

block append includes
	script(src='/static/js/register.js')
	script!= 'var clientStrings = ' + JSON.stringify(__('register.clientStrings')) + ';'
	if page == '/post-register'
		script.
			$(function(){
				function redirect(){
					window.location.replace( (localeInfo.pathLocale ? '/'+localeInfo.pathLocale : '')+'/'+userInfo.username);
				}
				setTimeout( redirect, 5000 );
			});

block content

	if /\/register$/.test(page)

		.content-block: .formbox
			.title: span= __('nav.register')
			//.inner
			p= __('register.intro.f1')
				a(href=url('/login'))= __('register.intro.f2')
				= __('register.intro.f3')
			form(method='post', onsubmit='return validate();')

				.field
					label(for='email')= __('register.email.label')
					input(type='email', name='email', required)
					span.caption= __('register.email.caption.f1')
						a(href=url('/site/privacy'))= __('register.email.caption.f2')
						= __('register.email.caption.f3')

				.field
					label(for='username')= __('register.username.label')
					input#username(type='text', name='username', required, onkeyup='checkUsername(this);')
					span.caption#userMessage= __('register.username.caption')

				.field.checkbox
					input#agreement(type='checkbox', name='agreement', required)
					label(for='agreement')= __('register.agreement.f1')
						a(href=url('/site/terms'))= __('register.agreement.f2')
						= __('register.agreement.f3')
						a(href=url('/site/privacy'))= __('register.agreement.f4')
						= __('register.agreement.f5')

				.field
					input(type='submit', value='#{__("register.submit")}')
					span.caption#submitMessage

	else if /\/federated-register$/.test(page)

		.content-block: .formbox
			.title: span= __('nav.register')
			p= __('register.fedIntro')
			form(method='post', onsubmit='return validateUsername();')

				.field
					label(for='username')= __('register.username.label')
					input#username(type='text', name='username', required, onkeyup='checkUsername(this);')
					span.caption#userMessage= __('register.username.caption')

				.field.checkbox
					input#agreement(type='checkbox', name='agreement', required)
					label(for='agreement')= __('register.agreement.f1')
						a(href=url('/site/terms'))= __('register.agreement.f2')
						= __('register.agreement.f3')
						a(href=url('/site/privacy'))= __('register.agreement.f4')
						= __('register.agreement.f5')
				.field
					input(type='submit', value='#{__("register.submit")}')
					span.caption#submitMessage

	else if /\/post-register$/.test(page)

		.content-block: .formbox
			.title Registration successful!
			p You have completed registration. You will be redirected to your profile page in 5 seconds.

