extends theme

block title
	title #{user} - ToonStore

block content
	h1 #{user}'s page

	if chars.length > 0

		p Characters:
		ul#charList
			each char in chars
				li
					a(href='/#{user}/#{char.canon_name}') #{char.name} - #{char.concept}
	else
		p This user lacks character (badum-ching!)

	if logged_user == user

		p
			a(href='/newtoon') Create a new character
