extends index

block title
	title= owner + ' | ToonStore.net'

block append styles
	style.
		span.fakeLink {
			color: blue;
			cursor: pointer;
		}

block append includes
	script.
		function togglePrivacy(toonName){
			$.post('/togglePrivacy', {id: toonName}, function(data,status,xhr)
			{
				window.location.reload(true);
			});
		}


block content

	.content-block
		h1
			span= owner
			span 's page

	.content-block: .normalbox
		if toons.length > 0
			h4 Characters:
			ul#charList
				each char in toons
					li
						a(href='/#{owner}/#{char.canon_name}/')= char.name +', '+ char.concept
						| &nbsp;
						if logged_user != null
							a(href='/newtoon?copy=#{owner}/#{char.canon_name}')
								img(src='/static/img/glyphicons/glyphicons_318_more_items.png', title='Duplicate')

						if logged_user == owner
							span.fakeLink(onclick='togglePrivacy("#{char.canon_name}")')
								img(src='/static/img/glyphicons/glyphicons_052_eye_close.png', title='Make Private')

							a(href='/killtoon?id=#{char.canon_name}')
								img(src='static/img/glyphicons/glyphicons_016_bin.png', title='Delete')


		else if logged_user == owner
			p No public characters

		else
			p This user lacks character (badum-ching!)

		if logged_user == owner && privateToons.length > 0
			h4 Private characters:
			ul#charList
				each char in privateToons
					li
						a(href='/#{owner}/#{char.canon_name}/')= char.name +', '+ char.concept
						| &nbsp;
						a(href='/newtoon?copy=#{owner}/#{char.canon_name}')
							img(src='/static/img/glyphicons/glyphicons_318_more_items.png', title='Duplicate')

						span.fakeLink(onclick='togglePrivacy("#{char.canon_name}")')
							img(src='/static/img/glyphicons/glyphicons_051_eye_open.png', title='Make Public', style='height: 13px;')

						a(href='/killtoon?id=#{char.canon_name}')
							img(src='static/img/glyphicons/glyphicons_016_bin.png', title='Delete')

		else if logged_user == owner
			p No private characters

		if logged_user == owner
			p: a(href='/newtoon') Create a new character
