extends index

block title
	title= owner + ' | ToonStore.net'

block append styles
	link(rel='stylesheet', href='/static/css/compiled/userpage.css')

block append includes
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.js')
	script(src='/static/js/moment.min.js')
	script(src='/static/js/userpage.js')
	script.
		function togglePrivacy(toonName){
			$.post('/togglePrivacy', {id: toonName}, function(data,status,xhr)
			{
				window.location.reload(true);
			});
		}


block content

	.content-block
		h1 #{owner}'s page

		#charList(ng-controller='UserPageCtrl')
			h4 Characters:

			.character(ng-repeat='char in data.public')
				.avatar
					a(ng-href='/{{char.owner}}/{{char.canonical_name}}/')
						img(dgy-src='/{{char.owner}}/{{char.canonical_name}}/avatar')

				.char-content
					p.title
						a(ng-href='/{{char.owner}}/{{char.canonical_name}}/') {{char.name}}, {{char.concept}}
					p.updated(title='{{char.last_updated | calendarTime}}') {{char.last_updated | relativeTime}}
					.controls
						if logged_user != null
							a(ng-href='/newtoon?copy={{char.owner}}/{{char.canonical_name}}')
								img(src='/static/img/glyphicons/glyphicons_318_more_items.png', title='Duplicate')

						if logged_user == owner
							input(type='image', ng-click='togglePrivacy(char.canonical_name)',
								src='/static/img/glyphicons/glyphicons_052_eye_close.png', title='Make Private')

							a(ng-href='/killtoon?id={{char.canonical_name}}')
								img(src='static/img/glyphicons/glyphicons_016_bin.png', title='Delete')

			
			if logged_user == owner
				p(ng-show='data.public.length === 0') No public characters.
			else
				p(ng-show='data.public.length === 0') This user lacks character (badum-ching!)

			if logged_user == owner
				h4 Private Characters:

				.character(ng-repeat='char in data.private')
					.avatar
						a(ng-href='/{{char.owner}}/{{char.canonical_name}}/')
							img(dgy-src='/{{char.owner}}/{{char.canonical_name}}/avatar')

					.char-content
						p.title
							a(ng-href='/{{char.owner}}/{{char.canonical_name}}/') {{char.name}}, {{char.concept}}
						p.updated(title='{{char.last_updated | calendarTime}}') {{char.last_updated | relativeTime}}
						.controls
							a(ng-href='/newtoon?copy={{char.owner}}/{{char.canonical_name}}')
								img(src='/static/img/glyphicons/glyphicons_318_more_items.png', title='Duplicate')
	
							input(type='image', ng-click='togglePrivacy(char.canonical_name)',
								src='/static/img/glyphicons/glyphicons_051_eye_open.png', title='Make Public',
								style='height:15px;')

							a(ng-href='/killtoon?id={{char.canonical_name}}')
								img(src='static/img/glyphicons/glyphicons_016_bin.png', title='Delete')

				p(ng-show='data.private.length === 0') No private characters.

			p: a(href='/newtoon') Create a new character
